* {
    text-decoration: none;
    color: white;
    font-family: "Noto Sans", sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
}

body {
    background-color: rgb(6, 22, 0);
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 0px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #303030; 
}

::-webkit-scrollbar-thumb {
    background: #4b4b4b;
    border-radius: 12px;
}