.mainHeadingText {
    font-weight: bolder;
    font-size: 20px;
}

.subHeadingText {
    color: rgb(121, 121, 121);
    font-size: 15px;
    line-height: 16px;
}

.welcomeMessage {
    padding-top: 65px;
    line-height: 7px;
}

.buttonSorter button {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border-style: dashed;
    border: 1px solid;
    font-weight: bold;
    border-radius: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.buttonSorter .buttonSorterHighlighted {
    background-color: rgb(255, 255, 255);
    color: black;
}

/* 
.listOfGames {
    padding-bottom: 70px;
}

.gameCard {
    height: 80px;
    display: flex;
    align-items: center;
}

.gameCard ul {
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

.gameCard ul li img {
    width: 60px;
    height: auto;
    border-radius: 15px;
}

.gameCardTextInfo {
    line-height: 5px;
    text-align: left;
    flex-grow: 1;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

.gameCardTextInfo .mainHeadingText {
    font-size: 15px;
    margin-bottom: 0px;
}

.gameCardTextInfo .subHeadingText {
    margin-top: 10px;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} 

.gameCard ul li button {
    background-color: rgb(21, 123, 206);
    width: 80px;
    height: 35px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
} */

.tempImg{
    background-color: gray;
    height: 1em;
    width: 1em;
    position: relative;
    top: 0.25em;
}

.gameListHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    font-weight: bold;
}

.gameListButtons {
    display: flex;
    justify-content: flex-end;
    gap: 0.75em;
}

.gameListButtons button{
    background-color: rgb(2, 71, 48);
    border: 0px;
    border-radius: 5px;
    padding-left: 0.65em;
    padding-right: 0.65em;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
}

.gameList {
    padding-bottom: 70px;
    display: flex;
    overflow: scroll;
    gap: 1em;
    overflow-y: hidden;
    padding-bottom: 1em;
    overflow-x: auto;
    margin-bottom: 1em;
    padding-left: 0em;
}

.gameList::-webkit-scrollbar {
    height: 0.5em; 
}

.gameCard {
    height: 250px;
    width: 150px;
    flex-shrink: 0;
}

.gameCard li {
    list-style: none;
    width: 100%;
    height: 100%;
}

.gameCard img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}